.btn-bater-ponto {
    text-align: center;
}

#btn-bater-ponto {
    padding: 3% 9.4%;

    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-bater-ponto:hover {
    color: #E5E5E5;
    background-color: black;

    font-weight: bold;
}

.btn-relatorio {
    text-align: center;
}

#btn-relatorio {
    padding: 3% 8%;

    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-relatorio:hover {
    color: #E5E5E5;
    background-color: black;

    font-weight: bold;
}

.data-hora {
    text-align: center;

    font-size:4rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

#dialog-ponto {
    padding: 1% 5%;
}

.div-dialog-data {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    font-size: 3rem;
    font-style: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-dialog-editar-data {
    padding: 1.5% 7%;

    font-size: 2rem;
    font-style: 'Montserrat', sans-serif;
}

#btn-dialog-editar-data:hover {
    background-color: black;
    color: #E5E5E5;
    font-weight: bold;
}

.div-dialog-hora {
    display: flex;
    align-items: center;
    gap: 0 4rem;

    font-size: 3rem;
    font-style: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-dialog-editar-hora {
    padding: 1.5% 7%;

    font-size: 2rem;
    font-style: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-dialog-editar-hora:hover {
    background-color: black;
    color: #E5E5E5;

    font-weight: bold;
}


.div-observacao {
    display: flex;
    flex-direction: column;
}

textarea, .input-anexo {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#btn-fechar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#tipos-ponto {
    padding: 2.5% 0;

    text-align: center;

    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.setinha {
    appearance: none;
}

#btn-dialog-bater-ponto {
    padding: 2.5%;

    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-dialog-bater-ponto:hover {
    background-color: black;
    color: #E5E5E5;
}

#dialog-last-register {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-fechar {
    padding: 1.5% 3%;

    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#btn-fechar:hover {
    background-color: red;
}

.alert {
    position: fixed;

    bottom: 1.25rem;
    right: 1.25rem;

    padding: 20px;
}

.alert.success {
    background-color: #28a745;
    color: white;
}

.alert.error {
    background-color: #dc3545;
    color: white;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#alerta-registro-ponto p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}